* {
	margin: 0px;
	padding: 0px;
	font-family: monospace;
	text-decoration:none;
	text-align: center;
	color: #FFFFFF;
}

body {background-color: #1F2229;}

#container {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	overflow: hidden;
	padding: 25px;
	position: absolute;
	background-color: #2C323D;
}

#header {
	font-size: 25px;
	color: #E7E7E7;
}

#search-field {
	width: calc(80% - 10px);
	border: none;
	padding: 10px;
	background-color: #FFFFFF;
	border-bottom: 5px solid #E7E7E7;
	text-align: left;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #1F2229;
	outline: none;
}

#search-submit {
	width: calc(20% - 10px);
	border: none;
	padding: 10px;
	float: right;
	background-color: #4D86C0;
	border-bottom: 5px solid #286EA8;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #1F2229;
	outline: none;
}

#search-submit:active {
	border-bottom: 2.5px solid #286EA8;
	transform: translateY(2.5px);
}

#container table {
	width: 100%;
	font-size: 15px;
}

#container th {
	width: 25%;
	color: #4D86C0;
	text-transform: uppercase;
}