html,
body {
  background-color: #282c34;
}

.header {
  display: inline;
  color: #e06c75;
  padding-right: 10px;
}

.link {
  display: inline;
}

#social {
  color: #e5c07b;
  padding-right: 310px;
}
#fanfic {
  color: #e5c07b;
}
#media {
  color: #e5c07b;
}
#tools {
  color: #e5c07b;
}

.main {
  padding: 570px 0;
  text-align: center;
}
