body {
    background-color: #1f2229;
}

input {
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #373e4b;
    width: 520px;
    height: 60px;
    border-radius: 10px;
    font-size: 25px;
    outline: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: 0.3s;
}

button {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
    border:none;
    background-color: #1f2229;
    height: 50px;
    width: 50px;
    background-image: url("dogmode.png");
    background-repeat: no-repeat;
  }

  a {
    display:block;
  }

#center:hover {
    background-color: #566f9e;
    transition: 0.35s;

}

#imagediv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat:no-repeat;
    background-size:contain;
    height: 250px;
    width: 250px;
    background-image: url("firefox.png");
}

#imagediv.active {
    background-image:none;
    background-color: green;
  }

  #dogcontainer {
    display: flex;
    justify-content: baseline;
    align-items: center;
    background-repeat:no-repeat;
    background-size:contain;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    background-color: #373e4b;
    height: 100px;
    width: 100px;
    border-radius: 15px;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom :20px;
    flex-grow: 0; 
    flex-shrink: 0; 
    margin-left: 20px;
    margin-right: 20px;   
}

/* classes start here */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
   /* background-color: blueviolet; */
    margin-top: 70px;
    flex-wrap: nowrap;
    /*width: 70vw;*/
    margin-left: 37%;
    margin-right: 37%;
    flex: auto;    
}

.searchcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: blueviolet;*/
    margin-top: 3%;
}

.imagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: blue;*/
    margin-top: 3%;
}

.youtube {
    background-image: url("youtube.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;  
}

.github {
    background-image: url("github.png");
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: center;  
}

.calendar {
    background-image: url("calendar.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;  
}

.springboard {
    background-image: url("springboard.PNG");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.amk {
    background-image: url("amk.PNG");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.optima {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-kerning: auto;  
}


 
  
 


